<template>
  <div class="rolus">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/index/users' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>角色列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-table :data="roles" style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope>
          <el-form label-position="left" inline class="demo-table-expand">
            <el-form-item v-for="item in roles" :key="item.index" :label="item.authName">
              <span v-for="itme in item.children" :key="itme.id">
                <span>{{itme.authName}}</span>
              </span>
            </el-form-item>
          </el-form>
        </template>
      </el-table-column>
      <el-table-column label="#" prop="id" width="40"></el-table-column>
      <el-table-column label="角色名称" prop="roleName" width="180"></el-table-column>
      <el-table-column label="角色描述" prop="roleDesc" width="180"></el-table-column>
      <el-table-column label="操作" prop="address">
        <el-button type="primary" icon="el-icon-edit" circle></el-button>
        <el-button type="danger" icon="el-icon-delete" circle></el-button>
        <el-button type="success" icon="el-icon-check" circle></el-button>
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
import { getRoles } from "../../http/api";
export default {
  data() {
    return {
      roles: []
    };
  },
  methods: {
    getRoles() {
      return getRoles().then(res => {
        console.log(res.data);
        this.roles = res.data;
      });
    }
  },
  created() {
    this.getRoles();
  }
};
</script>
<style lang="scss">
.rolus {
  padding: 20px;
  background: #fff;
}
</style>