<template>
  <div class="login">
    <div class="login-form-wrap">
      <h3 class="login-form-title">欢迎登陆</h3>
      <div class="login-form">
        <el-form
          :model="form"
          ref="login-form"
          class="demo-form-inline"
          size="small"
          :rules="rules"
        >
          <el-form-item prop="username">
            <el-input v-model="form.username" placeholder="用户名">
              <el-button slot="prepend" class="el-icon-user-solid"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input v-model="form.password" placeholder="密码">
              <el-button slot="prepend" class="el-icon-lock"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button class="login-form-btn" type="primary" @click="login">登陆</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>
<script>
import { login } from "../http/api";
import { mapMutations } from "vuex";
export default {
  data() {
    return {
      form: {
        username: "admin",
        password: "123456"
      },
      rules: {
        username: [
          {
            required: true,
            message: "用户名不能为空",
            trigger: "blur"
          }
        ],
        password: [
          {
            required: true,
            message: "密码不能为空",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    ...mapMutations({
      setToken: "setToken",
      setUsername: "setUsername"
    }),
    //登陆
    login() {
      this.$refs["login-form"].validate(async valid => {
        try {
          if (valid) {
            const res = await login(this.form)
            const {token,username} = res.data
            // const { token, username } = await login(this.form);
            this.$message({
              showClose: true,
              message: "欢迎回来" + username,
              type: "success"
            });
            this.$store.commit("setToken", token);
            this.$store.commit("setUsername", username);
            this.$router.replace({
              name: "index"
            });
          } else {
            return false;
          }
        } catch (error) {}
      });
      // login(this.form).then(res=>{
      // console.log(res)
      // })
    }
  }
};
</script>
<style lang="scss" scoped>
.login {
  height: 100vh;
  background: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg)
    center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .login-form-wrap {
    width: 300px;
    margin-right: 160px;
    background-color: #fff;
    border-radius: 15px;
    box-sizing: border-box;
    //   .login-form{
    .login-form-title {
      padding: 15px;
      border-bottom: 1px solid #ddd;
    }
    .login-form-btn {
      width: 100%;
    }
    //   }
  }
}
</style>