<template>
  <div class="users">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/index/users' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>角色列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form :inline="true" style="margin-top:20px">
      <el-form-item>
        <el-input
          placeh
          older="请输入内容"
          @keyup.enter.native="getUsers"
          v-model="params.query"
          style="width:350px"
        >
          <el-button slot="append" icon="el-icon-search" @click="getUsers"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-plus" @click="userInfoDialog=true">添加用户</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="result.users" border style="width: 100%">
      <el-table-column type="index" label="#" width="50px"></el-table-column>
      <el-table-column prop="username" label="姓名" width="100px"></el-table-column>
      <el-table-column prop="email" label="邮箱" width="245px"></el-table-column>
      <el-table-column prop="mobile" label="电话" width="250px"></el-table-column>
      <el-table-column prop="create_time" label="创建日期" width="200px"></el-table-column>
      <el-table-column prop="mg_state" label="用户状态" width="200px">
        <template slot-scope="scope">
          <el-switch v-model="scope.row.mg_state" @click.native="stateUser(scope.row.id,scope.row.mg_state)" active-color="#13ce66" inactive-color="#ff4949"></el-switch>
        </template>
      </el-table-column>
      <el-table-column prop label="操作" width="200px">
        <template slot-scope="scope">
          <el-button type="primary" icon="el-icon-edit" circle @click="editDialog(scope.row)"></el-button>
          <el-button type="danger" icon="el-icon-delete" circle @click="deleteConfirm(scope.row.id)"></el-button>
          <el-button type="success" icon="el-icon-check" circle @click="deliver(scope.row)"></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top:15px"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[2, 4, 6, 8]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="result.total"
    ></el-pagination>
    <el-dialog title="添加用户" :visible.sync="userInfoDialog">
      <el-form ref="userInfoForm" :model="userInfoForm">
        <el-form-item
          prop="username"
          label="用户名"
          :label-width="formLabelWidth"
          :rules="[{required:true,message:'请输入用户名',trigger:'blur'}]"
        >
          <el-input v-model="userInfoForm.username" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item
          prop="password"
          label="密码"
          :label-width="formLabelWidth"
          :rules="[{required:true,message:'请输入密码',trigger:'blur'}]"
        >
          <el-input v-model="userInfoForm.password" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="电话" :label-width="formLabelWidth">
          <el-input v-model="userInfoForm.mobile" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" :label-width="formLabelWidth">
          <el-input v-model="userInfoForm.email" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="userInfoDialog = false">取 消</el-button>
        <el-button type="primary" @click="addUsers">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="修改用户" :visible.sync="editUserInfoDialog">
      <el-form ref="userInfoForm" :model="editUserInfoForm">
        <el-form-item
          prop="username"
          label="用户名"
          :label-width="formLabelWidth"
          :rules="[{required:true,message:'请输入用户名',trigger:'blur'}]">
          <el-input v-model="editUserInfoForm.username" :disabled="true" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="电话" :label-width="formLabelWidth">
          <el-input v-model="editUserInfoForm.mobile" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" :label-width="formLabelWidth">
          <el-input v-model="editUserInfoForm.email" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editUserInfoDialog = false">取 消</el-button>
        <el-button type="primary" @click="editUser">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="分配角色" :visible.sync="deliverInfoDialog">
      <el-form ref="userInfoForm" :model="deliverInfoForm">
        <el-form-item
          prop="username"
          label="用户名"
          :label-width="formLabelWidth">
          <el-input v-model="deliverInfoForm.username" :disabled="true" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="角色" :label-width="formLabelWidth">
          <el-select v-model="deliverId">
            <el-option v-for="item in roles" :key="item.id" :label="item.roleName" :value="item.id"></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="deliverInfoDialog = false">取 消</el-button>
        <el-button type="primary" @click="deliverRole">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import { getUsers, addUsers,editUser,stateUser,deleteUser,deliverRole,getRoles } from "../../http/api";
// import { async } from "q";
export default {
  data() {
    return {
      deliverId: '',
      params: {
        query: "",
        pagenum: 1,
        pagesize: 2
      },
      roles: [],
      result: {},
      value: true,
      input1: "",
      userInfoDialog: false,
      userInfoForm: {
        username: "",
        mobile: "",
        email: ""
      },
      editUserInfoDialog: false,
      editUserInfoForm: {
        username: "",
        mobile: "",
        email: ""
      },
      deliverInfoDialog: false,
      deliverInfoForm: {
        username: "",
        email: ""
      },
      formLabelWidth: "80px"
    };
  },
  methods: {
    //用户列表
    async getUsers() {
      const res = await getUsers(this.params);
      this.result = res.data;
      console.log(res);
    },
    //每页显示条数发生变化，触发
    handleSizeChange(num) {
      this.params.pagesize = num;
      this.getUsers();
    },
    //页码发生变化
    handleCurrentChange(num) {
      this.params.pagenum = num;
      this.getUsers();
    },
    //添加用户
    addUsers() {
      this.$refs.userInfoForm.validate(async valid => {
        if (valid) {
          const res = await addUsers(this.userInfoForm);
          this.$message({
            showClose: true,
            message: res.meta.msg,
            type: "success"
          });
          this.userInfoDialog = false;
          this.$refs.userInfoForm.resetFields();
          this._getUsers();
        }
      });
    },
    //查询用户，排除query
    async _getUsers() {
      const { pagenum, pagesize } = this.params;
      const res = await getUsers({
        pagenum,
        pagesize
      });
      this.result = res.data;
    },
    //修改状态
    async stateUser(id,state){
      console.log(id)
      const res = await stateUser(id,state)
      this.$message({
        showClose:true,
        message:res.meta.msg,
        type:"success"
      })
    },
    //删除用户
    deleteConfirm(id) {
        this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning',
          center: true
        }).then(async() => {
          const res = await deleteUser(id)
          this.getUsers()
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });
        });
      },
      //修改用户信息
    editDialog(obj){
      console.log(obj)
      this.editUserInfoDialog = true;
      this.editUserInfoForm.username = obj.username
      this.editUserInfoForm.email = obj.email
      this.editUserInfoForm.mobile = obj.mobile
      this.editUserInfoForm.id = obj.id
    },
      //编辑用户信息提交
    async editUser(){
        const {id,email,mobile}=this.editUserInfoForm;
        const res = await editUser(id,{
          email,
          mobile
        })
        this.editUserInfoDialog = false;
        this.getUsers()
        this.$message({
          showClose:true,
          message:res.meta.msg,
          type:"success"
        })
      },
    //修改用户信息弹窗
    deliver(obj){
      console.log(obj)
      this.deliverInfoDialog = true;
      this.deliverInfoForm.username = obj.username
      this.deliverInfoForm.email = obj.email
      this.deliverInfoForm.id = obj.id
    },
    //修改用户信息
    async deliverRole(){
      const deliverId=this.deliverInfoForm.id;
      const res = await deliverRole(deliverId,{rid:this.deliverId})
      this.deliverId=''
      this.deliverInfoDialog=false
      this.$message({
        showClose:true,
        message:res.meta.msg,
        type:"success"
      })
    },
    //修改用户信息数据
    getRoles() {
      return getRoles().then(res => {
        console.log(res);
        this.roles = res.data;
      });
    }
  },
  created() {
    this.getUsers();
    this.getRoles();
    // let arr = this.$router.options.concat([
    //   {
    //     path: "/sign",
    //     name: "sign",
    //     component: () =>
    //       import(
    //         /* webpackChunkName: "rights" */ "../../views/rights/Rights.vue"
    //       )
    //   }
    // ]);
    // this.$router.options.routes = arr;
    // this.$router.addRouters([
    //   {
    //     path: "/sign",
    //     name: "sign",
    //     component: () =>
    //       import(
    //         /* webpackChunkName: "rights" */ "../../views/rights/Rights.vue"
    //       )
    //   }
    // ]);
  }
};
</script>
<style lang="scss">
.users {
  padding: 20px;
  background: #fff;
}
</style>